*{
	padding: 0;
	margin:0; 
}
ul,ol,li{
	list-style:none;
}
a{
	text-decoration: none;
	color: black;
}
.coverout{
	width: 100%;
	height: 170px;
	background-color: #f6f5f4
}
.cover{
	width: 1180px;
	height: 130px;
	background-color: white;
	top: 0;
	margin: 0 auto;
}
.incover{
	width: 100%;
	height: 170px;
	margin: 0 auto;
}
.top{
	width: 100%;
	height: 30px;
}
.left_addlo{
	width: 444px;
	height: 30px;
	display: block;
	float: left;
}
.right_addlo{
	width: 736px;
	height: 30px;
	display: inline-block;
	float: left;
}
.right_addlo>a{
	margin-right: 15px;
	font-size:12px;
	color: #9a9791;
}
.topico{
	width: 19px;
	height: 19px;
	float: left;
	display: inline-block;
	
}
.head{
	width: 1180px;
	height: 100px;

}
.headleft{
	width: 150px;
	height: 100px;
	float: left;
	display: inline-block;
	margin-right: 100px;
}
.headmiddle{
	width: 580px;
	height: 100px;
	margin-right: 80px;
	float: left;
	display: inline-block;
}
.middle_top{
	width: 575px;
	height: 40px;
	margin-top: 30px; 
	border: 3px solid #fe6c00;
	border-radius: 3px;
	float: left;
}
.middle_bottom{
	width: 580px;
	height: 30px;
	float: left;
}
.middle_bottom>a{
	padding-left: 16px; 
	margin-top: 8px; 
	font-size: 12px;
	color: red;
	float: left;
}
.headright{
	height: 46px;
	width: 270px;
	float: left;
	display: inline-block;
	padding-top: 30px;
}
.case{
	border: 1px solid #e6e5e2;
	border-radius: 3px; 
	width: 86px;
	height: 40px;
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;

}
.caseico{
	width: 17px;
	height: 17px;
	margin-top: 5px;
	margin-left: 30px;
}
.caseword{
	font-size: 12px;
	color: #9a9791;
	text-align: center;
}
.mainbar{
	width: 100%;
	height: 40px;
	background-color: black;
}
.se{
	width: 97px;
	height: 40px;
	color: white;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	float: left;
	margin-right: 25px;
}
.se:hover{
	background-color: #fe0d4a;
}
.title{
	width: 1180px;
	height: 35px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 35px;
}
.main{
	width: 1180px;height: 638px;margin: 0 auto;
}
.mainleft{
	width: 998px;
	height: 638px;
	float: left;
	display: inline-block;
}
.inleft{
	width: 934px;
	height: 440px;
	margin-top: 15px;
	margin-left: 20px;
}
#boxpic{
	width: 820px;
	height: 410px;
	position: relative;
	float: left;
}
.pic{
	width: 410px;
	height: 410px;
	left: 0;
	top: 0;
	border: 1px solid #d0cdc7;
	background:url(../images/pp0.jpeg) no-repeat;
	float: left;
	position: absolute;
}
#bigpic{
	width: 410px;
	height: 410px;
	overflow: hidden;
	right: 0;
	top: 0;
	border: 1px solid #d0cdc7;
	position: absolute;
	z-index: 2;
	float: left;
	display: none;
}
#shaw{
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: #4b4746;
	opacity: 0.5;
	cursor: move;
	display:none ;
	left: 0;
	top: 0;

}
#Bimg{
	position:absolute;
	left:0;
	top:0;
}
.introduce{
	width: 480px;
	height: 440px;
	margin-left: 20px;
	position: absolute;
	z-index: 1;
	left: 481px;
}
.choice{
	display: inline-block;
	width: 62px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.bor{
	border: 1px solid #cecbc5;
	width: 27px;
	height: 29px;
	text-align: center;
	line-height: 29px;
	display: inline-block;
	font-size: 15px;
	float: left;
}
.bor2{
	width: 52px;
	height: 29px;
	border: 1px solid #aca7a2;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 29px;
}
.bor3{
	font-size: 12px;
	display: inline-block;
	margin-left: 15px;
	line-height: 25px;
}
.alc{
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	margin-right: 10px;
}
#rl{
	font-size: 14px;
	color: #ffae00;
	line-height: 30px;
	text-align: center;
	display: inline-block;
}
.fen{
	width: 150px;
	height: 40px;
	border:1px solid #ff0754;
	border-radius: 5px;
	display: inline-block;
	margin-right:25px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
}
#stock{
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
}
.arrow{
	width: 25px;
	height: 60px;
	display: inline-block;
	float: left;
}
.squ{
	width: 60px;
	height: 60px;
	display: inline-block;
	float: left;
}
.mainright{
	width: 180px;
	height: 638px;
	display: inline-block;
}
.bottomnav{
	width: 1180px;
	height: 185px;
	margin: 0 auto;
}
.inbnav{
	width: 1180px;
	height: 184px;
	margin: 0 auto;
}
.leftside{
	width: 154px;
	height: 184px;
	display: inline-block;
	float: left;
}
.rightside{
	width: 1026px;
	height: 184px;
	display: inline-block;
	float: left;
	border-bottom: 1px solid #f8f7f6;

}
.singlebox{
	width: 132px;
	height: 184px;
	float: left;
	display: inline-block;
	padding-top: 30px;
}
.wordnav{
	line-height: 15px;
	font-size: 12px;
	color: #666560;
}
.wordtitle{
	line-height: 15px;
	font-size: 15px;
}
.sub{
	width: 1180px;
	height: 164px;
	margin: 0 auto;
}
.line1{
	width: 690px;
	height: 30px; 
	margin: 18px 0 0 255px;
}
.line1>a{
	font-size: 12px;
	float: left;
	color:#666560;
	padding-left: 20px;
}
.line2{
	width: 500px;
	height: 26px;
	margin-left: 340px;
	font-size: 11px;
	color: #9a9791;
}
.line3{
	width: 1073px;
	height: 25px;
	margin-left: 80px;
	font-size: 11px;
	color: #9a9791;
}
.line4{
	width: 132px;
	height: 20px;
	margin-left: 500px;
	font-size: 11px;
	color: #9a9791;
}
.line5{
	width: 786px;
	height: 60px;
	margin-left: 200px;
}
.line5>img{
	display: inline-block;
}
.pop{
	background:rgb(220,222,216,0.5);
	width: 100%;
	height:1370px;
	top: 0;
	left: 0;
	z-index: 3;
	position: absolute; 
}
.mid{
	width: 400px;
	height: 230px;
	border: 1px solid #aba9d2;
	background-color: white;
	top: 400px;
	left: 400px;
	position: absolute;
	z-index: 1500;
}